<li>

  
	{{orders}}
    
    <div>
      <div>
        <h5 class="center-align" style="display:inline-block;">{{sushi_name}}</p> 
     </div>

        <button class="devour center-align btn waves-effect waves-light" data-id="{{this.id}}" data-dev="{{this.devoured}}">
            {{#unless devoured}} Devour it! {{else}} All done - delete {{/unless}} 
	    </button>
   </div>
 
	{{!-- <button class="delete-order" data-id="{{this.id}}">
        Delete order!
    </button> --}}
    
</li>