<li>
	{{orders}}
          <p>{{sushi_name}}</p>

    <button class="devour" data-id="{{this.id}}" data-dev="{{this.devoured}}">
       {{#unless devoured}} Devour it! {{else}} All done. (delete) {{/unless}} 
	</button>

	{{!-- <button class="delete-order" data-id="{{this.id}}">
        Delete order!
    </button> --}}
    
</li>